$root-font-size             : 16px;
$gap                        : 30px;
$base-color                 : #ffffff;
$text-color                 : #222827;
$background-color           : #ffffff;
$muted-text-color           : #8898A7;
$heading-circle-bg          : #F4F4F8;

$grad-color-01              :#22C1C3;
$grad-color-02              :#FDBB2D;

$blue-item                  : #124E78;
$yellow-item                : #F2BB05;
$red-item                   : #D74E09;
$blood-item                 : #6E0E0A;

$custom-google-font         : 'Barlow', sans-serif;
$item-border-radius         : 8px;

$item-media-size            : 86px;
$list-item-height           : 28px;
$button-height              : 44px;
$heading-strip-width        : 10px;
$heading-strip-height       : 3px;
$heading-circle-size        : 500px;
$heading-circle-visible     : 210px;